body {
  overflow-x: hidden;
  margin: 0px;
  font-family: monospace;
  color: white;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
h1 {
  font-size: 50px;
}
main {
  width: 100vw;
  height: 200vw;
  z-index: 99;
  position: absolute;
  justify-content: center;
  text-align: center;
  pointer-events: none;
}
section {
  background: #777b7e;
  border-radius: 5px;
  border-color: white;
  border-width: 5px;
  min-height: 50vh;
  padding: 25px;
  margin-top: 25vh;
}
h2 {
  font-size: 4vh;
}
p {
  font-size: 2vh;
}
.left {
  margin-right: 55%;
}
.right {
  margin-left: 55%;
}
